div{
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.experience{
    color: var(--green-90, #FCFEEF);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: auto;
    text-transform: capitalize;
    transform: rotate(-0.32deg);
}

.period{
    color: var(--green-90, var(--green-90, #FCFEEF));
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    text-transform: uppercase;
    transform: rotate(-0.32deg);
    margin-left: 16px;
}